<% include partials/header %>

		<h1>Welcome to Venus!</h1>
		
		<p>Click on a planet to know more about it: </p>
		<a href="/mercury"> Mercury </a> <br>
		<a href="/venus"> Venus </a> <br>
		<a href="/earth"> Earth</a>

		<img src="/img/venus.jpg" alt="Venus" />

		<p>Venus is the second planet from the Sun, orbiting it every 224.7 Earth days. 
		It does not have any natural satellites. 
		It is named after the Roman goddess of love and beauty. 
		It is the second-brightest natural object in the night sky after the Moon, 
		reaching an apparent magnitude of −4.6 – bright enough to cast shadows at 
		night and, rarely, visible to the naked eye in broad daylight.</p>
		<p>Click on a planet to know more about it: </p>
		
<% include partials/footer %>