<% include partials/header %>		
		
		<nav>
			<a href="/"> Home</a>
			<a href="/mercury"> Mercury</a> 
			<a href="/venus"> Venus</a> 
			<a href="/earth"> Earth</a> <br>
		</nav>
		
		<h1>Welcome to Venus!</h1>

		<div class="imgAndText">

		<img id="planets" src="/img/venus.jpg" alt="Venus" />

		<p class="planetInfo">Venus is the second planet from the Sun, orbiting it every 224.7 Earth days. 
		It does not have any natural satellites. 
		It is named after the Roman goddess of love and beauty. 
		It is the second-brightest natural object in the night sky after the Moon, 
		reaching an apparent magnitude of −4.6 – bright enough to cast shadows at 
		night and, rarely, visible to the naked eye in broad daylight.</p>
		
		</div>
		
<% include partials/footer %>